<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

<title>Chitter Peeps</title>  

<link href="./css/main.3da94fde.css" rel="stylesheet">
<style>
body {
    background-color: #ccf3ff;
}
h1 {
    background-color: #ffffff;
    text-align: center;
}
p{
    text-align: center;
}

</style>
</head>
<header>
<nav class="navbar navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        
      <nav class="navbar-fullscreen" id="navbar-middle">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <ul class="navbar-fullscreen-links">
          <li><a href="./peeps" title="">Review Peeps</a></li>
          <li><a href="./peeps/new" title="">Create a New Peep </a></li>
          <%# <li><a href="./about.html" title="">About me</a></li>
          <li><a href="./components.html" title="">Components</a></li> %>
        </ul>
    </div>
</nav>
</header>
<body>
<br>
<br>
<br>
<h1>Posted Peeps</h1>
<br>
<ul>
    <form action="/peeps/new" method="get">
          <input type="submit" value="Create a New Peep" />
    </form>
<br>
  <% @peeeps.each do |view| %>
      <li> Unique Peep no.: <%= view.id%> 
      <li> Time of Peep: <%= view.time_id%> 
      
      <h5>Subject:</h5><p><%= view.title %><br></p>
    
      <h5>Peep:</h5><p><%= view.peep %></p>

      ________________________________
  <% end %>
  <br>
  <br>

    <form action="/peeps/new" method="get">
          <input type="submit" value="Create a New Peep" />
    </form>


</ul>
   <script>
    document.addEventListener("DOMContentLoaded", function (event) {
        navbarFixedTopAnimation();
        closeMenuBeforeGoingToPage();
    });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function (event) {
        navbarToggleSidebar();
        closeMenuBeforeGoingToPage();
        navActivePage();
        });
    </script>
    <script type="text/javascript" src="./js/main.4c6e144e.js"></script></body>
</body>
</html>

   
