<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

<title>Welcome to Chitter</title>  

<link href="/css/main.css" rel="stylesheet">
<style>
body {
    background-color: #ccf3ff;
}
h1 {
    background-color: #ffffff;
    text-align: center;
}
p{
    text-align: center;
}

button{
    height:20px; 
    width:100px; 
    margin: -20px -50px; 
    position:relative;
    top:50%; 
    left:50%;
}
</style>
</head>
<header>
<nav class="navbar navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        
      <nav class="navbar-fullscreen" id="navbar-middle">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <ul class="navbar-fullscreen-links">
          <li><a href="./bookmark" title="">Review Peeps</a></li>
          <li><a href=".//bookmark/new" title="">Create a New Peep </a></li>
          <%# <li><a href="./about.html" title="">About me</a></li>
          <li><a href="./components.html" title="">Components</a></li> %>
        </ul>
    </div>
</nav>
</header>  
<br>
<br>
<br>
<body>
    <h1>Sign up to Chitter </h1>
    
      <form action="/users" method="POST">
        <input type="text" name="name"  placeholder="name"/>
        <input type="text" name="surname" placeholder="surname"/>
         <input type="email" name="email_address" placeholder="email"/>
        <input type="text" name="username" placeholder="create your own username"/>
        <input type="password" name="password" placeholder="password" />
        <input type="submit" value="Submit" />
      </form>



    <script>
    document.addEventListener("DOMContentLoaded", function (event) {
        navbarFixedTopAnimation();
        closeMenuBeforeGoingToPage();
    });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function (event) {
        navbarToggleSidebar();
        closeMenuBeforeGoingToPage();
        navActivePage();
        });
    </script>
    <script type="text/javascript" src="/js/main.4c6e144e.js"></script></body>
</body>
</html>
<%# <br>

<form action="">
<button type="submit" value="Review"> Chitter Sign Up </button> 
</form> 

<br>

<form action="">
<button type="submit" value="create a new bookmark"> Chitter Sign Up </button> 
</form> 
<br> %>