<form action= "/bookmark" method="post">
  <input type="text" name="url" placeholder="URL" />
  <input type="text" name='title' placeholder="Title">
  <input type="submit" value="Submit" />
  
</form>

<form action="/bookmark">
<button type="submit" value="Review"> Review Bookmark</button> 
</form> 

<br>

<form action="/bookmark/new">
<button type="submit" value="create a new bookmark"> Create Bookmark </button> 
</form> 
<br>